Design/source/x102-flexiblebody.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/common/images/favicon.ico">
		<link rel="apple-touch-icon" href="/common/images/apple-touch-icon.png">
		<link rel="stylesheet" href="/common/css/style.css">
		<!-- ここから開発用プラグインのため本番反映禁止-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">
		<!-- ここまで開発用プラグインのため本番反映禁止-->
		<title>Flexible Body &laquo; oticon</title>
	</head>
	<body>
		<header class="l-header">
			<nav>
				<ul class="drawerMenu">
					<li class="closeMenu1 closeMenu_btn"></li>
					<li><a href="">
							<p>聞こえについて</p></a></li>
					<li>
						<div class="dropdwn_list">
							<p>製品について</p>
							<ul class="dropdwn_menu">
								<li><a href="">
										<p>Opn オープン</p></a></li>
								<li><a href="">
										<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
								<li><a href="">
										<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
								<li><a href="">
										<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
								<li><a href="">
										<p>Dynamo ダイナモ</p></a></li>
							</ul>
						</div>
					</li>
					<li><a href="">
							<p>サポート</p></a></li>
					<li><a href="">
							<p>オーティコンについて</p></a></li>
					<li><a href="">
							<p>みんなの聞こえ</p></a></li>
					<li><a href="">
							<p>お問い合わせ</p></a></li>
					<li><a href="">
							<p>プロフェッショナルサイト</p></a></li>
					<li><a href="">
							<p>ご利用環境について</p></a></li>
					<li><a href="">
							<p>個人情報保護方針</p></a></li>
					<li class="ogsSite"><a href="">
							<p>Oticon Global Site</p></a></li>
					<li class="closeMenu2">
						<p>CLOSE</p>
					</li>
				</ul>
				<div class="globalContainer">
					<div class="subMenuPc">
						<div class="_pc"><a href="">
								<p class="_Item01">Oticon Global Site</p></a><a href="">
								<p class="_Item02">Professional</p></a><a href="">
								<p class="_Item03">販売店検索</p></a></div>
					</div>
					<div class="globalMenu">
						<h1><a href=""><img src="/common/images/oticon_logo.png" alt="oticon people first"></a></h1>
						<div class="_menuPc">
							<div class="_menuPc_box">
								<ul>
									<li><a href="">
											<p>聞こえについて</p></a></li>
									<li><a href="">
											<p>製品について</p></a></li>
									<li><a href="">
											<p>サポート</p></a></li>
									<li><a href="">
											<p>オーティコンについて</p></a></li>
									<li><a href="">
											<p>みんなの聞こえ</p></a></li>
									<li><a href="">
											<p>お問い合わせ</p></a></li>
								</ul>
							</div>
						</div>
						<div class="_menuSmp">
							<div class="_itemList">
								<p class="_item01">販売店検索</p>
								<p class="_item02 menuBtn">メニュー</p>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main class="l-main theme-single">
			<article class="l-article">
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<h1>Flexible Body</h1>
								<div class="grid-md-4 list-type-bullet dev-hashList">
								</div>
								<p>
									<button class="dev-developerMode">開発者モード</button>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">共通設定</div>
							</div>
						</div>
						<div class="fxb-row">
							<div class="fxb-col-md-4">
								<div class="dev-h3">フレキシブルボディの余白</div>
								<table>
									<tbody>
										<tr>
											<th>上部にスペースを増やす</th>
											<td><code>.fxb-margin</code></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">基本型</div>
							</div>
						</div>
						<div class="fxb-row">
							<div class="fxb-col-md-4">
								<div class="dev-h3">画像の表示位置</div>
								<table>
									<tbody>
										<tr>
											<th>左揃え</th>
											<td><code>.align-left</code></td>
										</tr>
										<tr>
											<th>中央揃え</th>
											<td><code>.align-center</code></td>
										</tr>
										<tr>
											<th>右揃え</th>
											<td><code>.align-right</code></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="fxb-col-md-4">
								<div class="dev-h3">カラム</div>
								<table>
									<thead>
										<tr>
											<th></th>
											<th>レスポンシブ</th>
											<th>アダプティブ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1カラム</th>
											<td><code>.fxb-col-md-12</code></td>
											<td><code>.fxb-col-12</code></td>
										</tr>
										<tr>
											<th>2カラム</th>
											<td><code>.fxb-col-md-6</code></td>
											<td><code>.fxb-col-6</code></td>
										</tr>
										<tr>
											<th>3カラム</th>
											<td><code>.fxb-col-md-4</code></td>
											<td><code>.fxb-col-4</code></td>
										</tr>
										<tr>
											<th>4カラム</th>
											<td><code>.fxb-col-md-3</code></td>
											<td><code>.fxb-col-3</code></td>
										</tr>
									</tbody>
								</table>
								<p>2カラムの場合は割合(%)で幅指定が可能</p>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
									<p>[Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。</p>
									<div class="align-center">
										<figure><img src="https://dummyimage.com/600x400?text=img[Image]+画像パス" alt="[Single-Line Text] 代替テキスト">
											<figcaption>figcaption[Single-Line Text] 画像キャプション</figcaption>
										</figure>
									</div>
									<p>[Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">フロート画像型</div>
							</div>
						</div>
						<div class="fxb-row">
							<div class="fxb-col-md-4">
								<div class="dev-h3">画像の表示位置</div>
								<table>
									<tbody>
										<tr>
											<th>左寄せ</th>
											<td><code>.float-left</code></td>
										</tr>
										<tr>
											<th>右寄せ</th>
											<td><code>.float-right</code></td>
										</tr>
									</tbody>
								</table>
								<p>挿入される画像の幅をfigureタグに記述</p>
							</div>
							<div class="fxb-col-md-4">
								<div class="dev-h3">カラム</div>
								<table>
									<thead>
										<tr>
											<th></th>
											<th>レスポンシブ</th>
											<th>アダプティブ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1カラム</th>
											<td><code>.fxb-col-md-12</code></td>
											<td><code>.fxb-col-12</code></td>
										</tr>
										<tr>
											<th>2カラム</th>
											<td><code>.fxb-col-md-6</code></td>
											<td><code>.fxb-col-6</code></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
									<div class="float-left">
										<figure><img src="https://dummyimage.com/600x400?text=img[Image]+画像パス" alt="[Single-Line Text] 代替テキスト">
											<figcaption>figcaption[Single-Line Text] 画像キャプション</figcaption>
										</figure>
									</div>
									<p>[Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="col-12">
								<div class="dev-h2">カバー画像型</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container-fluid">
							<div class="fxb-row _cover-group">
								<div class="fxb-col-md-6 _cover-image" style="background-image:url(https://dummyimage.com/600x400)">
								</div>
								<div class="fxb-col-md-6 _cover-content">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
									<p>[Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">カスタム見出し型</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">カスタムHTML型</div>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<p>[Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">カード型</div>
							</div>
						</div>
						<div class="fxb-row">
							<div class="fxb-col-md-4">
								<div class="dev-h3">カラム</div>
								<table>
									<thead>
										<tr>
											<th></th>
											<th>レスポンシブ</th>
											<th>アダプティブ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1カラム</th>
											<td><code>.col-md-12</code></td>
											<td><code>.col-12</code></td>
										</tr>
										<tr>
											<th>2カラム</th>
											<td><code>.col-md-6</code></td>
											<td><code>.col-6</code></td>
										</tr>
										<tr>
											<th>3カラム</th>
											<td><code>.col-md-4</code></td>
											<td><code>.col-4</code></td>
										</tr>
										<tr>
											<th>4カラム</th>
											<td><code>.col-md-3</code></td>
											<td><code>.col-3</code></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
									<div class="grid-md-3"><a class="card-default" href="">
											<div class="_image"><img src="https://dummyimage.com/600x400?text=img[Image]+画像パス" alt="[Single-Line Text] 代替テキスト"></div>
											<div class="_content">
												<p class="_title">[Single-Line Text] 見出し</p>
												<p class="_outline">[Single-Line Text] 概要文</p>
											</div></a><a class="card-default" href="">
											<div class="_image"><img src="https://dummyimage.com/600x400?text=img[Image]+画像パス" alt="[Single-Line Text] 代替テキスト"></div>
											<div class="_content">
												<p class="_title">[Single-Line Text] 見出し</p>
												<p class="_outline">[Single-Line Text] 概要文</p>
											</div></a><a class="card-default" href="">
											<div class="_image"><img src="https://dummyimage.com/600x400?text=img[Image]+画像パス" alt="[Single-Line Text] 代替テキスト"></div>
											<div class="_content">
												<p class="_title">[Single-Line Text] 見出し</p>
												<p class="_outline">[Single-Line Text] 概要文</p>
											</div></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<div class="dev-h2">リスト型</div>
							</div>
							<div class="fxb-col-md-4">
								<div class="dev-h3">リストのカラム</div>
								<table>
									<thead>
										<tr>
											<th></th>
											<th>レスポンシブ</th>
											<th>アダプティブ</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1カラム</th>
											<td><code>.list-grid-md-12</code></td>
											<td><code>.list-grid-12</code></td>
										</tr>
										<tr>
											<th>2カラム</th>
											<td><code>.list-grid-md-6</code></td>
											<td><code>.list-grid-6</code></td>
										</tr>
										<tr>
											<th>3カラム</th>
											<td><code>.list-grid-md-4</code></td>
											<td><code>.list-grid-4</code></td>
										</tr>
										<tr>
											<th>4カラム</th>
											<td><code>.list-grid-md-3</code></td>
											<td><code>.list-grid-3</code></td>
										</tr>
										<tr>
											<th>6カラム</th>
											<td><code>.list-grid-md-2</code></td>
											<td><code>.list-grid-2</code></td>
										</tr>
										<tr>
											<th>インライン</th>
											<td><code>.list-grid-md-inline</code></td>
											<td><code>.list-grid-inline</code></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-sectionView">
					<div class="fxb-section">
						<div class="fxb-container">
							<div class="fxb-row">
								<div class="fxb-col-md-12">
									<h2>H2[Single-Line Text] 大見出し</h2>
									<h3>H3[Single-Line Text] 中見出し</h3>
									<ul class="grid-md-4 list-type-bullet">
										<li>[Single-Line Text] リスト項目</li>
										<li>[Single-Line Text] リスト項目</li>
										<li>[Single-Line Text] リスト項目</li>
									</ul>
									<div class="grid-md-4 list-type-bullet"><a href="">[Single-Line Text] リンクリスト項目</a><a href="">[Single-Line Text] リンクリスト項目</a><a href="">[Single-Line Text] リンクリスト項目</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<footer class="l-footer">
			<nav class="fxb-container">
				<div class="fxb-row">
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">聞こえについて
										<li><a href="">
												<p>聞こえの健康</p></a></li>
										<li><a href="">
												<p>補聴器を検討、購入される方</p></a></li>
										<li><a href="">
												<p>お子さんの補聴器購入を考えている方</p></a></li>
										<li><a href="">
												<p>ハイライト</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">オーティコンについて
										<li><a href="">
												<p>オーティコンについて</p></a></li>
										<li><a href="">
												<p>オーティコンの指針について</p></a></li>
										<li><a href="">
												<p>オーティコンの理念 「ピープル・ファースト」</p></a></li>
										<li><a href="">
												<p>社会貢献活動</p></a></li>
										<li><a href="">
												<p>お問い合わせ窓口</p></a></li>
										<li><a href="">
												<p>採用情報</p></a></li>
										<li><a href="">
												<p>最新情報</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line"> 製品について
										<li><a href="">
												<p>Opn オープン</p></a></li>
										<li><a href="">
												<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
										<li><a href="">
												<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
										<li><a href="">
												<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
										<li><a href="">
												<p>Dynamo ダイナモ</p></a></li>
										<li><a href="">
												<p>Sensei Pro センセイプロ / Sensei センセイ</p></a></li>
										<li><a href="">
												<p>SenseiSP Pro センセイSPプロ/SenseiSP センセイSP</p></a></li>
										<li><a href="">
												<p>イニウム･RISE2補聴器シリーズ</p></a></li>
										<li><a href="">
												<p>イニウムセンス製品比較</p></a></li>
										<li><a href="">
												<p>耳鳴り対処機能付き製品</p></a></li>
										<li><a href="">
												<p>オープンコネクティビティ</p></a></li>
										<li><a href="">
												<p>コネクトライン</p></a></li>
										<li><a href="">
												<p>子供向けコネクトライン</p></a></li>
										<li><a href="">
												<p>アミーゴFM</p></a></li>
										<li><a href="">
												<p>製品の形状</p></a></li>
										<li><a href="">
												<p>補聴器のスタイル</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">サポート
										<li><a href="">
												<p>お手入れ・使い方</p></a></li>
										<li><a href="">
												<p>サポートハイライト</p></a></li>
										<li><a href="">
												<p>ダウンロードセンター</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">みんなの聞こえ</p></a></ul>
							<ul><a href="">
									<p class="_line">プロフェッショナルサイト</p></a></ul>
							<ul><a href="">
									<p class="_line">ご利用環境について</p></a></ul>
							<ul><a href="">
									<p class="_line">個人情報保護方針</p></a></ul>
						</div>
					</div>
				</div>
				<div class="copyright">Copyright &copy; Oticon A/S All Rights Reserved.</div>
			</nav>
		</footer>
		<script src="/common/js/lib/vendor.js"></script>
		<script src="/common/js/common/common.js"></script>
	</body>
</html>

Design/work/pug/x102-flexiblebody.pug
extends base/_master

block variables
	- var pageTitle = 	'Flexible Body'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets
	// ここから開発用プラグインのため本番反映禁止
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css')
	// ここまで開発用プラグインのため本番反映禁止

block customScripts

block article
	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					h1 #{pageTitle}
					+grid('div',0,0,4,0,0).list-type-bullet.dev-hashList
					p: button.dev-developerMode 開発者モード

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 共通設定
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 フレキシブルボディの余白
					table
						tbody
							tr
								th 上部にスペースを増やす
								td: code .fxb-margin

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 基本型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 画像の表示位置
					table
						tbody
							tr
								th 左揃え
								td: code .align-left
							tr
								th 中央揃え
								td: code .align-center
							tr
								th 右揃え
								td: code .align-right
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .fxb-col-md-12
								td: code .fxb-col-12
							tr
								th 2カラム
								td: code .fxb-col-md-6
								td: code .fxb-col-6
							tr
								th 3カラム
								td: code .fxb-col-md-4
								td: code .fxb-col-4
							tr
								th 4カラム
								td: code .fxb-col-md-3
								td: code .fxb-col-3
					p 2カラムの場合は割合(%)で幅指定が可能
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						p [Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。
						.align-center
							figure
								img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								figcaption figcaption[Single-Line Text] 画像キャプション
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 フロート画像型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 画像の表示位置
					table
						tbody
							tr
								th 左寄せ
								td: code .float-left
							tr
								th 右寄せ
								td: code .float-right
					p 挿入される画像の幅をfigureタグに記述
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .fxb-col-md-12
								td: code .fxb-col-12
							tr
								th 2カラム
								td: code .fxb-col-md-6
								td: code .fxb-col-6
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						.float-left
							figure
								img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								figcaption figcaption[Single-Line Text] 画像キャプション
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col(0,0,12,0,0)
					.dev-h2 カバー画像型
	.dev-sectionView
		.fxb-section
			.fxb-container-fluid
				.fxb-row._cover-group
					+col('div','fxb',0,0,6,0,0)._cover-image(style='background-image:url(https://dummyimage.com/600x400)')
					+col('div','fxb',0,0,6,0,0)._cover-content
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						p [Rich Text] けれども、浅虫のかずかずの思ひ出は、鮮やかであると同時に、その思ひ出のことごとくが必ずしも愉快とは言へないのに較べて、大鰐の思ひ出は霞んではゐても懐しい。海と山の差異であらうか。私はもう、二十年ちかくも大鰐温泉を見ないが、いま見ると、やはり浅虫のやうに都会の残杯冷炙に宿酔してあれてゐる感じがするであらうか。私には、それは、あきらめ切れない。ここは浅虫に較べて、東京方面との交通の便は甚だ悪い。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カスタム見出し型
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カスタムHTML型
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						p [Rich Text] 津軽に於いては、浅虫温泉は最も有名で、つぎは大鰐温泉といふ事になるのかも知れない。大鰐は、津軽の南端に近く、秋田との県境に近いところに在つて、温泉よりも、スキイ場のために日本中に知れ渡つてゐるやうである。山麓の温泉である。ここには、津軽藩の歴史のにほひが幽かに残つてゐた。私の肉親たちは、この温泉地へも、しばしば湯治に来たので、私も少年の頃あそびに行つたが、浅虫ほど鮮明な思ひ出は残つてゐない。

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 カード型
			.fxb-row
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 カラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .col-md-12
								td: code .col-12
							tr
								th 2カラム
								td: code .col-md-6
								td: code .col-6
							tr
								th 3カラム
								td: code .col-md-4
								td: code .col-4
							tr
								th 4カラム
								td: code .col-md-3
								td: code .col-3
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						+grid('div',0,0,3,0,0)
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文
							a(href='').card-default
								._image
									img(src='https://dummyimage.com/600x400?text=img[Image]+画像パス', alt='[Single-Line Text] 代替テキスト')
								._content
									p._title [Single-Line Text] 見出し
									p._outline [Single-Line Text] 概要文

	.fxb-section
		.fxb-container
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					.dev-h2 リスト型
				+col('div','fxb',0,0,4,0,0)
					.dev-h3 リストのカラム
					table
						thead
							tr
								th
								th レスポンシブ
								th アダプティブ
						tbody
							tr
								th 1カラム
								td: code .list-grid-md-12
								td: code .list-grid-12
							tr
								th 2カラム
								td: code .list-grid-md-6
								td: code .list-grid-6
							tr
								th 3カラム
								td: code .list-grid-md-4
								td: code .list-grid-4
							tr
								th 4カラム
								td: code .list-grid-md-3
								td: code .list-grid-3
							tr
								th 6カラム
								td: code .list-grid-md-2
								td: code .list-grid-2
							tr
								th インライン
								td: code .list-grid-md-inline
								td: code .list-grid-inline
	.dev-sectionView
		.fxb-section
			.fxb-container
				.fxb-row
					+col('div','fxb',0,0,12,0,0)
						h2 H2[Single-Line Text] 大見出し
						h3 H3[Single-Line Text] 中見出し
						+grid('ul',0,0,4,0,0).list-type-bullet
							li [Single-Line Text] リスト項目
							li [Single-Line Text] リスト項目
							li [Single-Line Text] リスト項目
						+grid('div',0,0,4,0,0).list-type-bullet
							a(href='') [Single-Line Text] リンクリスト項目
							a(href='') [Single-Line Text] リンクリスト項目
							a(href='') [Single-Line Text] リンクリスト項目
