Design/source/x201-checker.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/common/images/favicon.ico">
		<link rel="apple-touch-icon" href="/common/images/apple-touch-icon.png">
		<link rel="stylesheet" href="/common/css/style.css">
		<title>Design Checker &laquo; oticon</title>
	</head>
	<body>
		<header class="l-header">
			<nav>
				<ul class="drawerMenu">
					<li class="closeMenu1 closeMenu_btn"></li>
					<li><a href="">
							<p>聞こえについて</p></a></li>
					<li>
						<div class="dropdwn_list">
							<p>製品について</p>
							<ul class="dropdwn_menu">
								<li><a href="">
										<p>Opn オープン</p></a></li>
								<li><a href="">
										<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
								<li><a href="">
										<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
								<li><a href="">
										<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
								<li><a href="">
										<p>Dynamo ダイナモ</p></a></li>
							</ul>
						</div>
					</li>
					<li><a href="">
							<p>サポート</p></a></li>
					<li><a href="">
							<p>オーティコンについて</p></a></li>
					<li><a href="">
							<p>みんなの聞こえ</p></a></li>
					<li><a href="">
							<p>お問い合わせ</p></a></li>
					<li><a href="">
							<p>プロフェッショナルサイト</p></a></li>
					<li><a href="">
							<p>ご利用環境について</p></a></li>
					<li><a href="">
							<p>個人情報保護方針</p></a></li>
					<li class="ogsSite"><a href="">
							<p>Oticon Global Site</p></a></li>
					<li class="closeMenu2">
						<p>CLOSE</p>
					</li>
				</ul>
				<div class="globalContainer">
					<div class="subMenuPc">
						<div class="_pc"><a href="">
								<p class="_Item01">Oticon Global Site</p></a><a href="">
								<p class="_Item02">Professional</p></a><a href="">
								<p class="_Item03">販売店検索</p></a></div>
					</div>
					<div class="globalMenu">
						<h1><a href=""><img src="/common/images/oticon_logo.png" alt="oticon people first"></a></h1>
						<div class="_menuPc">
							<div class="_menuPc_box">
								<ul>
									<li><a href="">
											<p>聞こえについて</p></a></li>
									<li><a href="">
											<p>製品について</p></a></li>
									<li><a href="">
											<p>サポート</p></a></li>
									<li><a href="">
											<p>オーティコンについて</p></a></li>
									<li><a href="">
											<p>みんなの聞こえ</p></a></li>
									<li><a href="">
											<p>お問い合わせ</p></a></li>
								</ul>
							</div>
						</div>
						<div class="_menuSmp">
							<div class="_itemList">
								<p class="_item01">販売店検索</p>
								<p class="_item02 menuBtn">メニュー</p>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main class="l-main theme-single">
			<article class="l-article">
				<div class="fxb-section">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-12">
								<h1>Design Checker</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="dev-cheacker" ng-app="myApp">
					<div ng-controller="myController">
						<div class="fxb-section">
							<div class="fxb-container">
								<div class="fxb-row">
									<div class="fxb-col-12">
										<textarea class="dev-checkerTextarea" ng-model="data" placeholder="ここにHTMLを入力してください"></textarea>
									</div>
								</div>
							</div>
						</div>
						<div class="fxb-section">
							<div class="fxb-container">
								<div class="fxb-row">
									<div class="fxb-col-12">
										<div class="dev-checkerResult" ng-bind-html="data"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="fxb-section">
							<div class="fxb-container">
								<div class="fxb-row">
									<div class="fxb-col-12">
										<hr>
										<p><strong>注意</strong><br><small>入力されたコードは、セキュリティの都合上、サニタイズ（スクリプトの実行可能なHTML要素や属性は除去）されます。</small></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<footer class="l-footer">
			<nav class="fxb-container">
				<div class="fxb-row">
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">聞こえについて
										<li><a href="">
												<p>聞こえの健康</p></a></li>
										<li><a href="">
												<p>補聴器を検討、購入される方</p></a></li>
										<li><a href="">
												<p>お子さんの補聴器購入を考えている方</p></a></li>
										<li><a href="">
												<p>ハイライト</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">オーティコンについて
										<li><a href="">
												<p>オーティコンについて</p></a></li>
										<li><a href="">
												<p>オーティコンの指針について</p></a></li>
										<li><a href="">
												<p>オーティコンの理念 「ピープル・ファースト」</p></a></li>
										<li><a href="">
												<p>社会貢献活動</p></a></li>
										<li><a href="">
												<p>お問い合わせ窓口</p></a></li>
										<li><a href="">
												<p>採用情報</p></a></li>
										<li><a href="">
												<p>最新情報</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line"> 製品について
										<li><a href="">
												<p>Opn オープン</p></a></li>
										<li><a href="">
												<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
										<li><a href="">
												<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
										<li><a href="">
												<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
										<li><a href="">
												<p>Dynamo ダイナモ</p></a></li>
										<li><a href="">
												<p>Sensei Pro センセイプロ / Sensei センセイ</p></a></li>
										<li><a href="">
												<p>SenseiSP Pro センセイSPプロ/SenseiSP センセイSP</p></a></li>
										<li><a href="">
												<p>イニウム･RISE2補聴器シリーズ</p></a></li>
										<li><a href="">
												<p>イニウムセンス製品比較</p></a></li>
										<li><a href="">
												<p>耳鳴り対処機能付き製品</p></a></li>
										<li><a href="">
												<p>オープンコネクティビティ</p></a></li>
										<li><a href="">
												<p>コネクトライン</p></a></li>
										<li><a href="">
												<p>子供向けコネクトライン</p></a></li>
										<li><a href="">
												<p>アミーゴFM</p></a></li>
										<li><a href="">
												<p>製品の形状</p></a></li>
										<li><a href="">
												<p>補聴器のスタイル</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">サポート
										<li><a href="">
												<p>お手入れ・使い方</p></a></li>
										<li><a href="">
												<p>サポートハイライト</p></a></li>
										<li><a href="">
												<p>ダウンロードセンター</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">みんなの聞こえ</p></a></ul>
							<ul><a href="">
									<p class="_line">プロフェッショナルサイト</p></a></ul>
							<ul><a href="">
									<p class="_line">ご利用環境について</p></a></ul>
							<ul><a href="">
									<p class="_line">個人情報保護方針</p></a></ul>
						</div>
					</div>
				</div>
				<div class="copyright">Copyright &copy; Oticon A/S All Rights Reserved.</div>
			</nav>
		</footer>
		<script src="/common/js/lib/vendor.js"></script>
		<script src="/common/js/common/common.js"></script>
		<!-- ここから開発用プラグインのため本番反映禁止-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>
		<script>angular.module('myApp', ['ngSanitize']).controller('myController', function($scope) {});</script>
		<!-- ここまで開発用プラグインのため本番反映禁止-->
	</body>
</html>

Design/work/pug/x201-checker.pug
extends base/_master

block variables
	- var pageTitle = 	'Design Checker'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block customStylesheets

block customScripts
	// ここから開発用プラグインのため本番反映禁止
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js')
	script.
		angular.module('myApp', ['ngSanitize']).controller('myController', function($scope) {});
	// ここまで開発用プラグインのため本番反映禁止

block article
	.fxb-section
		.fxb-container
			.fxb-row
				.fxb-col-12
					h1 #{pageTitle}
	div(ng-app='myApp').dev-cheacker
		div(ng-controller='myController')
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							textarea(ng-model='data' placeholder='ここにHTMLを入力してください').dev-checkerTextarea
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							div(ng-bind-html='data').dev-checkerResult
			.fxb-section
				.fxb-container
					.fxb-row
						.fxb-col-12
							hr
							p
								strong 注意
								br
								small 入力されたコードは、セキュリティの都合上、サニタイズ（スクリプトの実行可能なHTML要素や属性は除去）されます。
