Design/source/x301-oticon_top.html
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/common/images/favicon.ico">
		<link rel="apple-touch-icon" href="/common/images/apple-touch-icon.png">
		<link rel="stylesheet" href="/common/css/style.css">
		<title>オーティコンについて &laquo; oticon</title>
	</head>
	<body>
		<header class="l-header">
			<nav>
				<ul class="drawerMenu">
					<li class="closeMenu1 closeMenu_btn"></li>
					<li><a href="">
							<p>聞こえについて</p></a></li>
					<li>
						<div class="dropdwn_list">
							<p>製品について</p>
							<ul class="dropdwn_menu">
								<li><a href="">
										<p>Opn オープン</p></a></li>
								<li><a href="">
										<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
								<li><a href="">
										<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
								<li><a href="">
										<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
								<li><a href="">
										<p>Dynamo ダイナモ</p></a></li>
							</ul>
						</div>
					</li>
					<li><a href="">
							<p>サポート</p></a></li>
					<li><a href="">
							<p>オーティコンについて</p></a></li>
					<li><a href="">
							<p>みんなの聞こえ</p></a></li>
					<li><a href="">
							<p>お問い合わせ</p></a></li>
					<li><a href="">
							<p>プロフェッショナルサイト</p></a></li>
					<li><a href="">
							<p>ご利用環境について</p></a></li>
					<li><a href="">
							<p>個人情報保護方針</p></a></li>
					<li class="ogsSite"><a href="">
							<p>Oticon Global Site</p></a></li>
					<li class="closeMenu2">
						<p>CLOSE</p>
					</li>
				</ul>
				<div class="globalContainer">
					<div class="subMenuPc">
						<div class="_pc"><a href="">
								<p class="_Item01">Oticon Global Site</p></a><a href="">
								<p class="_Item02">Professional</p></a><a href="">
								<p class="_Item03">販売店検索</p></a></div>
					</div>
					<div class="globalMenu">
						<h1><a href=""><img src="/common/images/oticon_logo.png" alt="oticon people first"></a></h1>
						<div class="_menuPc">
							<div class="_menuPc_box">
								<ul>
									<li><a href="">
											<p>聞こえについて</p></a></li>
									<li><a href="">
											<p>製品について</p></a></li>
									<li><a href="">
											<p>サポート</p></a></li>
									<li><a href="">
											<p>オーティコンについて</p></a></li>
									<li><a href="">
											<p>みんなの聞こえ</p></a></li>
									<li><a href="">
											<p>お問い合わせ</p></a></li>
								</ul>
							</div>
						</div>
						<div class="_menuSmp">
							<div class="_itemList">
								<p class="_item01">販売店検索</p>
								<p class="_item02 menuBtn">メニュー</p>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<main class="l-main theme-single">
			<article class="l-article">
				<div class="topBanner">
					<div class="_pcItem">
						<div class="autoplay"><a href=""><img src="/common/images/img_mainVisual-opn_pc.png" alt="さまざまな会話が飛び交う　騒がしい環境での聞こえを効果的にサポートするはじめての補聴器　オーティコンオープン"></a><a href=""><img src="/common/images/img_mainVisual-mimitomo_pc.png" alt="人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！"></a></div>
					</div>
					<div class="_smpItem">
						<div class="autoplay"><a href=""><img src="/common/images/img_mainVisual-opn_smp.png" alt="オーティコンオープン"></a><a href=""><img src="/common/images/img_mainVisual-mimitomo_smp.png" alt="人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！"></a></div>
					</div>
				</div>
				<div class="fxb-Banner">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-sm-12 fxb-col-md-4">
								<div class="secondaryBanner secondaryBannerFirst"><a href=""><img src="/common/images/btn_topOpn.jpg" alt="新たな聞こえの世界へ オーティコンオープン"></a></div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-md-4">
								<div class="secondaryBanner"><a href=""><img src="/common/images/btn_topHearingforall.jpg" alt="みんなの聞こえ Hearing for all"></a></div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-md-4">
								<div class="secondaryBanner"><a href=""><img src="/common/images/btn_topSearch.jpg" alt="お近くのオーティコン製品　取り扱い店舗を探す"></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-productDescription">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-sm-6 fxb-col-md-6 fxb-col-lg-6">
								<div class="oticon"><img src="/common/images/image_img_consept.png" alt="Oticon People First"></div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-md-6 fxb-col-lg-6">
								<div class="peopleFirst">
									<div class="_title"><img src="/common/images/People First.png" alt="People First"></div>
									<p class="_text01">「ピープルファースト」</p>
									<p class="_text02">聞こえに悩む人々を第一に考える</p>
									<p class="_text03">私たちオーティコンは聞こえに悩む人々の思いに耳を傾け、お客様ひとりひとりのニーズと希望を第一に優先した最高の聞こえをご提供します。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-latestInformation">
					<div class="fxb-container">
						<div class="fxb-row">
							<div class="fxb-col-sm-6 fxb-col-lg-3">
								<div class="latestNewsHeader">
									<h2 class="_title">最新情報</h2>
									<p class="_link"><a href="">最新情報一覧</a></p>
								</div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-lg-3">
								<div class="latestNewsItem"><a href=""><img src="/common/images/btn_infoNews.jpg" alt="">
										<div class="_dateCategory">
											<p class="_date">2017/01/01</p>
											<p class="_category">お知らせ</p>
											<p class="_title">“脳で聞く”ブレインヒヤリング搭載補聴器  試聴体験フェア開催  in 北海道！開催中2016/1/16-2/19</p>
										</div></a></div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-lg-3">
								<div class="latestNewsItem"><a href=""><img src="/common/images/btn_infoPress.jpg" alt="">
										<div class="_dateCategory">
											<p class="_date">2017/12/13</p>
											<p class="_category">プレスリリース</p>
											<p class="_title">オーティコン補聴器、世界初のインターネット接続可能な補聴器「Oticon Opn(TM)」が、CES2017の２部門でイノベーションアワードを受賞～世界をリードする…</p>
										</div></a></div>
							</div>
							<div class="fxb-col-sm-6 fxb-col-lg-3">
								<div class="latestNewsItem"><a href=""><img src="/common/images/btn_infoDealer.jpg" alt="">
										<div class="_dateCategory">
											<p class="_date">2017/09/05</p>
											<p class="_category">販売店向け</p>
											<p class="_title">BrainHearing™（ブレインヒアリング）特集第５回『 反響音のある聞こえの環境。それは難聴のある方にとって、ことばの理解が極めて難しい場面の一つということ</p>
										</div></a></div>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-sns">
					<div class="fxb-container-fluid">
						<div class="fxb-row">
							<div class="fxb-col-md-12">
								<ul class="sns">
									<li class="_pc"><a href=""><img src="/common/images/btn_footerFb.jpg" alt="Oticon People First 公式Facebookページ"></a></li>
									<li class="_pc"><a href=""><img src="/common/images/btn_footerYoutube.jpg" alt="Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器"></a></li>
									<li class="_smp"><a href=""><img src="/common/images/btn_footerFb_sp.jpg" alt="Oticon People First 公式Facebookページ"></a></li>
									<li class="_smp"><a href=""><img src="/common/images/btn_footerYoutube_sp.jpg" alt="Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="fxb-pageTopBtn">
					<div class="pageTopBtn"><img src="/common/images/page_top.png" alt="page top"></div>
				</div>
			</article>
		</main>
		<footer class="l-footer">
			<nav class="fxb-container">
				<div class="fxb-row">
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">聞こえについて
										<li><a href="">
												<p>聞こえの健康</p></a></li>
										<li><a href="">
												<p>補聴器を検討、購入される方</p></a></li>
										<li><a href="">
												<p>お子さんの補聴器購入を考えている方</p></a></li>
										<li><a href="">
												<p>ハイライト</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">オーティコンについて
										<li><a href="">
												<p>オーティコンについて</p></a></li>
										<li><a href="">
												<p>オーティコンの指針について</p></a></li>
										<li><a href="">
												<p>オーティコンの理念 「ピープル・ファースト」</p></a></li>
										<li><a href="">
												<p>社会貢献活動</p></a></li>
										<li><a href="">
												<p>お問い合わせ窓口</p></a></li>
										<li><a href="">
												<p>採用情報</p></a></li>
										<li><a href="">
												<p>最新情報</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line"> 製品について
										<li><a href="">
												<p>Opn オープン</p></a></li>
										<li><a href="">
												<p>Alta2 Pro アルタ２プロ / Alta2 アルタ２</p></a></li>
										<li><a href="">
												<p>Nera2 Pro ネラ２プロ / Nera2 ネラ２</p></a></li>
										<li><a href="">
												<p>Ria2 Pro リア２プロ / Ria2 リア２</p></a></li>
										<li><a href="">
												<p>Dynamo ダイナモ</p></a></li>
										<li><a href="">
												<p>Sensei Pro センセイプロ / Sensei センセイ</p></a></li>
										<li><a href="">
												<p>SenseiSP Pro センセイSPプロ/SenseiSP センセイSP</p></a></li>
										<li><a href="">
												<p>イニウム･RISE2補聴器シリーズ</p></a></li>
										<li><a href="">
												<p>イニウムセンス製品比較</p></a></li>
										<li><a href="">
												<p>耳鳴り対処機能付き製品</p></a></li>
										<li><a href="">
												<p>オープンコネクティビティ</p></a></li>
										<li><a href="">
												<p>コネクトライン</p></a></li>
										<li><a href="">
												<p>子供向けコネクトライン</p></a></li>
										<li><a href="">
												<p>アミーゴFM</p></a></li>
										<li><a href="">
												<p>製品の形状</p></a></li>
										<li><a href="">
												<p>補聴器のスタイル</p></a></li>
									</p></a></ul>
						</div>
					</div>
					<div class="fxb-col-md-4">
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">サポート
										<li><a href="">
												<p>お手入れ・使い方</p></a></li>
										<li><a href="">
												<p>サポートハイライト</p></a></li>
										<li><a href="">
												<p>ダウンロードセンター</p></a></li>
									</p></a></ul>
						</div>
						<div class="footerMenu">
							<ul><a href="">
									<p class="_line">みんなの聞こえ</p></a></ul>
							<ul><a href="">
									<p class="_line">プロフェッショナルサイト</p></a></ul>
							<ul><a href="">
									<p class="_line">ご利用環境について</p></a></ul>
							<ul><a href="">
									<p class="_line">個人情報保護方針</p></a></ul>
						</div>
					</div>
				</div>
				<div class="copyright">Copyright &copy; Oticon A/S All Rights Reserved.</div>
			</nav>
		</footer>
		<script src="/common/js/lib/vendor.js"></script>
		<script src="/common/js/common/common.js"></script>
	</body>
</html>

Design/work/pug/x301-oticon_top.pug
extends base/_master

block variables
	- var pageTitle = 	'オーティコンについて'
	- var pageLang = 	'ja'
	- var pageDesc = 	''
	- var pageDevice = 	device
	- var pageColumn = 	'single'
	- var pageLevel = 	''
	- var pageColor = 	''

block article
	.topBanner
		._pcItem
			.autoplay
				a(href='')
					img(src=imgpath + '/img_mainVisual-opn_pc.png', alt='さまざまな会話が飛び交う　騒がしい環境での聞こえを効果的にサポートするはじめての補聴器　オーティコンオープン')
				a(href='')
					img(src=imgpath + '/img_mainVisual-mimitomo_pc.png', 
					alt='人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！')
		._smpItem
			.autoplay
				a(href='')
					img(src=imgpath + '/img_mainVisual-opn_smp.png', alt='オーティコンオープン')
				a(href='')
					img(src=imgpath + '/img_mainVisual-mimitomo_smp.png', 
					alt='人は脳で聞いている　オーティコンオープン　2017年6月15日まで　ユーザー満足度95% 話題の先進補聴器をいつもの生活環境で、しっかり、じっくりお試しいただけます。　先進補聴器Opn(オープン)を2週間無料視聴できます！')
	.fxb-Banner
		.fxb-container
			.fxb-row
				+col('div','fxb',0,12,4,0,0)
					.secondaryBanner.secondaryBannerFirst
						a(href='')
							img(src=imgpath + '/btn_topOpn.jpg', alt='新たな聞こえの世界へ オーティコンオープン')
				+col('div','fxb',0,6,4,0,0)
					.secondaryBanner
						a(href='')
							img(src=imgpath + '/btn_topHearingforall.jpg', alt='みんなの聞こえ Hearing for all')
				+col('div','fxb',0,6,4,0,0)
					.secondaryBanner
						a(href='')
							img(src=imgpath + '/btn_topSearch.jpg', alt='お近くのオーティコン製品　取り扱い店舗を探す')
	.fxb-productDescription
		.fxb-container
			.fxb-row
				+col('div','fxb',0,6,6,6,0)
					.oticon: img(src=imgpath + '/image_img_consept.png', alt='Oticon People First')
				+col('div','fxb',0,6,6,6,0)
					.peopleFirst
						._title: img(src=imgpath + '/People First.png', alt='People First')
						p._text01 「ピープルファースト」
						p._text02 聞こえに悩む人々を第一に考える
						p._text03 私たちオーティコンは聞こえに悩む人々の思いに耳を傾け、お客様ひとりひとりのニーズと希望を第一に優先した最高の聞こえをご提供します。
	.fxb-latestInformation
		.fxb-container
			.fxb-row
				+col('div','fxb',0,6,0,3,0)
					.latestNewsHeader
						h2._title 最新情報
						p._link
							a(href='') 最新情報一覧
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoNews.jpg', alt='')
							._dateCategory
								p._date 2017/01/01
								p._category お知らせ
								p._title “脳で聞く”ブレインヒヤリング搭載補聴器  試聴体験フェア開催  in 北海道！開催中2016/1/16-2/19
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoPress.jpg', alt='')
							._dateCategory
								p._date 2017/12/13
								p._category プレスリリース
								p._title オーティコン補聴器、世界初のインターネット接続可能な補聴器「Oticon Opn(TM)」が、CES2017の２部門でイノベーションアワードを受賞～世界をリードする…
				+col('div','fxb',0,6,0,3,0)
					.latestNewsItem
						a(href='')
							img(src=imgpath + '/btn_infoDealer.jpg', alt='')
							._dateCategory
								p._date 2017/09/05
								p._category 販売店向け
								p._title BrainHearing™（ブレインヒアリング）特集第５回『 反響音のある聞こえの環境。それは難聴のある方にとって、ことばの理解が極めて難しい場面の一つということ
	.fxb-sns
		.fxb-container-fluid
			.fxb-row
				+col('div','fxb',0,0,12,0,0)
					ul.sns
						li._pc
							a(href='')
								img(src=imgpath + '/btn_footerFb.jpg', alt='Oticon People First 公式Facebookページ')
						li._pc: a(href=''): img(src=imgpath + '/btn_footerYoutube.jpg', alt='Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器')
						li._smp: a(href=''): img(src=imgpath + '/btn_footerFb_sp.jpg', alt='Oticon People First 公式Facebookページ')
						li._smp: a(href=''): img(src=imgpath + '/btn_footerYoutube_sp.jpg', alt='Oticon People First Youtubeチャンネル　動画で知るオーティコンと補聴器')
	.fxb-pageTopBtn
		.pageTopBtn
			img(src=imgpath + '/page_top.png', alt='page top')
